# prevents from making requests to private networks, this could be a security issue
ALLOW_PRIVATE_NETWORKS=0

# List of whitelist IP addresses, that can access cron endpoint
TRUSTED_IPS='127.0.0.1,192.168.0.120'
DEFAULT_LANGUAGE=en

APP_ENV=prod
APP_SECRET=06f280a07aa800a95932dd51c1106248
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=17&charset=utf8"