{% extends 'base.html.twig' %}

{% block title %}{% trans %}admin_dashboard_title{% endtrans %}{% endblock %}

{% block body %}
    {% include('admin/_sidebar.html.twig') %}
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        {% include('dashboard/_navbar.html.twig') %}
        <div class="p-4">
            <h3>{% trans %}admin_dashboard_title{% endtrans %}</h3>
            <div class="pt-3">
                <div class="row row-cols-md-2 row-cols-xxl-4 row-cols-xl-2">
                    <div class="col-md">
                        <div class="card bg-white border-0 mb-3 shadow-sm">
                            <div class="card-body ps-4">
                                <h6 class="card-title">{% trans %}admin_user_count{% endtrans %}</h6>
                                <p class="card-text uptime">
                                    <i class="fas fa-users"></i>
                                    <span class="uptime-number ps-3">{{ user_count }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-white border-0 mb-3 shadow-sm">
                            <div class="card-body ps-4">
                                <h6 class="card-title">{% trans %}admin_website_count_active_total{% endtrans %}</h6>
                                <p class="card-text uptime">
                                    <i class="far fa-file"></i>
                                    <span class="uptime-number ps-3">{{ website_count_active }} / {{ website_count }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
