<td>
    {{ channels_types[channel.type].name }}
</td>
<td style="min-width:150px;">
    {% trans %}telegram_api_token{% endtrans %}: {{ channel.options.apiToken|default(null) }}<br>
    {% trans %}telegram_chat_id{% endtrans %}: {{ channel.options.chatId|default(null) }}
</td>