{% extends 'base.html.twig' %}

{% block title %}{% trans %}login{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-fluid login-bg">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-md-4 login-form-container">
                <div class="card rounded-3 border-0 shadow">
                    <div class="card-body">
                        <h1 class="text-center">{% trans %}login{% endtrans %}</h1>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{ path('app_login') }}" method="post">
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="form-label" for="username">{% trans %}email{% endtrans %}</label>
                                    <input type="text" class="form-control" id="username" name="_username"
                                           value="{{ last_username }}"/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="form-label" for="password">{% trans %}password{% endtrans %}</label>
                                    <input type="password" class="form-control" id="password" name="_password"/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="_remember_me" id="rememberMeCheckbox" checked/>
                                    <label class="form-check-label" for="rememberMeCheckbox">{% trans %}remember_me{% endtrans %}</label>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="d-grid gap-2">
                                <button type="submit" id="login_submit" class="btn btn-purple-moon btn-rounded border-0">{% trans %}login_button{% endtrans %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
