{% extends 'base.html.twig' %}

{% block title %}{% trans %}website_incidents_title{% endtrans %}{% endblock %}

{% block body %}
    {% include('dashboard/_sidebar.html.twig') %}
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        {% include('dashboard/_navbar.html.twig') %}
        <div class="p-4">
            <h3>{% trans %}website_incidents_title{% endtrans %}</h3>
            <div class="pt-3">
                <div class="md-12 bg-white p-3 shadow-sm">
                    <table class="table table-hover websites-list">
                        <thead>
                        <tr>
                            <th scope="col">{% trans %}start_time{% endtrans %}</th>
                            <th scope="col">{% trans %}end_time{% endtrans %}</th>
                            <th scope="col">{% trans %}initial_error{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in downtime_logs.getIterator %}
                            <tr>
                                <td>{{ log.getStartTime|date }}</td>
                                <td>
                                    {% if log.getEndTime is null %}
                                        <span class="badge text-bg-danger">{% trans %}ongoing{% endtrans %}</span>
                                    {% else %}
                                        {{ log.getEndTime|date }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for error in log.getInitialError %}
                                        {{ error }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        {% include('dashboard/_flash_messages.html.twig') %}
    </div>
{% endblock %}
