@import "~bootstrap/scss/bootstrap";

body {
  font-family: roboto-regular;
}

@font-face{
  font-family : 'roboto-light';
  src : url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face{
  font-family : 'roboto-regular';
  src : url('../fonts/Roboto-Regular.ttf') format('truetype');
}

.login-bg, .register-bg {
  background-color: $gray-200;
}

.login-form-container, .register-form-container {
  max-width: 400px;
}

.btn-purple-moon {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}