{% extends 'base.html.twig' %}

{% block title %}{% trans %}notifier_add_channel_title{% endtrans %}{% endblock %}

{% block body %}
    {% include('dashboard/_sidebar.html.twig') %}
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        {% include('dashboard/_navbar.html.twig') %}
        <div class="p-4">
            <h3>
                {% if channel_type is not null %}
                    {% trans with {'%name%': channels_types[channel_type].name} %}notifier_add_channel_title %name%{% endtrans %}

                {% else %}
                    {% trans %}notifier_add_channel_title{% endtrans %}
                {% endif %}
            </h3>
            <div class="pt-3">
                <div class="md-12 bg-white p-3 shadow-sm">
                    {% if form is not null %}
                        {{ form(form) }}
                    {% else %}
                        {% for key, data in channels_types %}
                            <a class="btn btn-primary" href="{{ path('app_notifier_add_channel', {'type': key}) }}">{{ data.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% include('dashboard/_flash_messages.html.twig') %}
    </div>
{% endblock %}
