{% extends 'base.html.twig' %}

{% block title %}{% trans %}dashboard_title{% endtrans %}{% endblock %}

{% block body %}
    {% include('dashboard/_sidebar.html.twig') %}
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        {% include('dashboard/_navbar.html.twig') %}
        <div class="p-4">
            <h3>{% trans %}dashboard_title{% endtrans %}</h3>
            <div class="row row-cols-md-2 row-cols-xxl-4 row-cols-xl-2">
                <div class="col-md">
                    <div class="card text-bg-primary mb-3">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-bg-primary mb-3">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-bg-primary mb-3">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-bg-primary mb-3">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include('dashboard/_flash_messages.html.twig') %}
    </div>
{% endblock %}
