{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">
        current: {{ app.request.locale|locale_name(app.request.locale) }}
        lang: {{ app.user.language }}
    </div>


{% endblock %}
