{% extends 'base.html.twig' %}

{% block title %}{% trans %}dashboard_title{% endtrans %}{% endblock %}

{% block body %}
    {% include('dashboard/_sidebar.html.twig') %}
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        {% include('dashboard/_navbar.html.twig') %}
    </div>
{% endblock %}
