{% extends 'base.html.twig' %}

{% block title %}{% trans %}user_settings{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        {{ form(form) }}
    </div>


{% endblock %}